html, body {
	background:#3d71b8 url(../images/desktop.jpg) no-repeat left top;
        font: normal 12px tahoma, arial, verdana, sans-serif;
	margin: 0;
	padding: 0;
	border: 0 none;
	overflow: hidden;
	height: 100%;
}
